@import "tailwindcss";

@theme {
    --color-primary-pink: #ff7d6b;
    --color-kirani-pink: #fdd9d4;
    --color-kirani-black: #454545;
    --color-kirani-red: #58231b;
    --font-poppins: "Poppins", sans-serif;
}
