<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Travel Tummy</title>

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
            rel="stylesheet"
        />

        <link rel="stylesheet" href="/css/output.css" />
    </head>
    <body>
        <div class="w-full min-h-screen bg-white">
            <nav class="w-full bg-white py-4">
                <div
                    class="w-full max-w-[340px] mx-auto flex flex-col gap-y-3 lg:hidden"
                >
                    <div
                        class="w-full flex flex-row items-center justify-between"
                    >
                        <a
                            href="/" class="font-poppins text-black font-bold text-[16px] hover:scale-105 hover:duration-300"
                        >Travel<span class="text-primary-pink">Tummy</span></a>
                        <svg
                            id="dropdown-toggle"
                            class="w-10 hover:cursor-pointer hover:scale-105 hover:duration-300"
                            viewBox="0 -0.5 25 25"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
                                id="SVGRepo_tracerCarrier"
                                stroke-linecap="round"
                                stroke-linejoin="round"
                            ></g><g id="SVGRepo_iconCarrier">
                                <path
                                    d="M6.5 11.75C6.08579 11.75 5.75 12.0858 5.75 12.5C5.75 12.9142 6.08579 13.25 6.5 13.25V11.75ZM18.5 13.25C18.9142 13.25 19.25 12.9142 19.25 12.5C19.25 12.0858 18.9142 11.75 18.5 11.75V13.25ZM6.5 15.75C6.08579 15.75 5.75 16.0858 5.75 16.5C5.75 16.9142 6.08579 17.25 6.5 17.25V15.75ZM18.5 17.25C18.9142 17.25 19.25 16.9142 19.25 16.5C19.25 16.0858 18.9142 15.75 18.5 15.75V17.25ZM6.5 7.75C6.08579 7.75 5.75 8.08579 5.75 8.5C5.75 8.91421 6.08579 9.25 6.5 9.25V7.75ZM18.5 9.25C18.9142 9.25 19.25 8.91421 19.25 8.5C19.25 8.08579 18.9142 7.75 18.5 7.75V9.25ZM6.5 13.25H18.5V11.75H6.5V13.25ZM6.5 17.25H18.5V15.75H6.5V17.25ZM6.5 9.25H18.5V7.75H6.5V9.25Z"
                                    fill="#000000"
                                ></path>
                            </g></svg>
                    </div>
                    <div id="nav-dropdown" class="w-full hidden flex-col gap-y-3 lg:hidden">
                        <a href="" class="flex flex-col group w-fit">
                            <p class="font-poppins font-medium text-black text-[15px]">Tempat</p>
                            <div class="hidden border-b-2 border-primary-pink group-hover:block w-[85%] mx-auto"></div>
                        </a>
                        <a href="" class="flex flex-col group w-fit">
                            <p class="font-poppins font-medium text-black text-[15px]">Menu</p>
                            <div class="hidden border-b-2 border-primary-pink group-hover:block w-[85%] mx-auto"></div>
                        </a>
                        <a href="" class="flex flex-col group w-fit mb-2">
                            <p class="font-poppins font-medium text-black text-[15px]">Movie</p>
                            <div class="hidden border-b-2 border-primary-pink group-hover:block w-[85%] mx-auto"></div>
                        </a>
                    </div>
                </div>
                <div
                    class="w-full lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1450px] mx-auto flex-row items-center justify-between hidden lg:flex"
                >
                    <div
                        class="w-full flex flex-row items-center justify-between"
                    >
                        <p
                            class="font-poppins text-black font-bold text-[32px]"
                        >Travel<span class="text-primary-pink">Tummy</span></p>
                        <div class="flex flex-row gap-x-4">
                            <a
                                href=""
                                class="flex flex-row gap-x-2 ring-1 ring-primary-pink rounded-[18px] py-1 px-3 items-center group hover:bg-primary-pink hover:scale-[108%] hover:duration-300"
                            >
                                <img src="/images/store-icon.svg" alt="" />
                                <p
                                    class="font-poppins font-semibold text-primary-pink text-[16px] group-hover:text-white"
                                >Tempat</p>
                            </a>
                            <a
                                href=""
                                class="flex flex-row gap-x-2 ring-1 ring-primary-pink rounded-[18px] py-1 px-3 items-center group hover:bg-primary-pink hover:scale-[108%] hover:duration-300"
                            >
                                <img src="/images/dish-icon.svg" alt="" />
                                <p
                                    class="font-poppins font-semibold text-primary-pink text-[16px] group-hover:text-white"
                                >Menu</p>
                            </a>
                            <a
                                href=""
                                class="flex flex-row gap-x-2 ring-1 ring-primary-pink rounded-[18px] py-1 px-3 items-center group hover:bg-primary-pink hover:scale-[108%] hover:duration-300"
                            >
                                <img src="/images/glases-icon.svg" alt="" />
                                <p
                                    class="font-poppins font-semibold text-primary-pink text-[16px] group-hover:text-white"
                                >Movie</p>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>

            <section id="hero" class="w-full relative h-[720px]">
                <img
                    src="/images/bg-large.png"
                    class="hidden lg:block absolute z-10 w-full h-full"
                    alt=""
                />
                <img
                    src="/images/bg-small.png"
                    class="block lg:hidden absolute z-10 w-full h-full"
                    alt=""
                />
                <div
                    class="flex flex-col lg:flex-row relative z-20 w-full max-w-[340px] lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1450px] mx-auto pt-8 h-[80%] lg:pt-0"
                >
                    <div
                        class="flex flex-col lg:self-center pt-4 lg:pt-20 2xl:pt-12"
                    >
                        <p
                            class="uppercase font-poppins font-extrabold text-[16px] text-kirani-black text-center lg:text-start lg:text-[32px] xl:text-[40px] 2xl:text-[52px] mb-[10px]"
                        >welcome to
                            <span
                                class="text-primary-pink"
                            >traveltummy!</span></p>
                        <p
                            class="font-poppins font-semibold text-kirani-red text-[14px] text-center mb-[10px] lg:text-start lg:text-[18px] xl:text-[22px]"
                        >Tempat Rasa, Cerita, Dan Cinta Disimpan Rapih</p>
                        <p
                            class="font-poppins font-light text-kirani-black text-[11px] text-justify mb-[10px] lg:text-[16px] xl:text-[18px]"
                        >Tempat curhat digital kami tentang
                            <span
                                class="font-bold text-primary-pink"
                            >makanan</span>
                            yang
                            <span class="font-bold text-primary-pink">bikin
                                kenyang atau nyesel</span>,
                            <span
                                class="font-bold text-primary-pink"
                            >tempat</span>
                            yang
                            <span class="font-bold text-primary-pink">bikin
                                betah atau pegal</span>, dan
                            <span
                                class="font-bold text-primary-pink"
                            >film</span>
                            yang
                            <span class="font-bold text-primary-pink">keren atau
                                aneh</span>. Nggak cuma
                            <span class="font-bold text-primary-pink">kasih
                                rating</span>, tapi juga
                            <span class="font-bold text-primary-pink">nyimpen
                                momen-momen kecil</span>
                            yang berharga lengkap dengan
                            <span class="font-bold text-primary-pink">foto dan
                                cerita</span>
                            di baliknya. Karena setiap gigitan, langkah, dan
                            tontonan punya cerita. Dan
                            <span class="font-bold text-primary-pink">cerita itu
                                pantas dikenang dan dikasih bintang</span>
                            ⭐</p>
                        <p
                            class="font-poppins font-bold text-kirani-black text-[11px] lg:text-[16px] text-justify lg:text-start xl:text-[18px]"
                        >“Karena cinta nggak cukup diingat, tapi juga perlu
                            diabadikan.” ~<span
                                class="text-primary-pink"
                            >dikokirani</span>❤️‍🔥</p>
                    </div>
                    <img
                        src="/images/hero.png"
                        alt=""
                        class="lg:self-center lg:w-[400px] xl:w-[500px] 2xl:w-[600px] h-fit"
                    />
                </div>
            </section>

            <section id="content" class="w-full pt-20 pb-28">
                <div
                    class="flex flex-col gap-y-12 mx-auto w-full max-w-[340px] lg:max-w-2xl"
                >
                    <p
                        class="font-poppins font-extrabold text-center text-[24px] text-kirani-black lg:text-[32px] xl:text-[40px] 2xl:text-[52px]"
                    >Konten <span class="text-primary-pink">Kami!</span></p>
                    <div
                        class="flex flex-row mx-auto gap-x-6 lg:justify-between lg:mx-0"
                    >
                        <a
                            href=""
                            class="flex flex-col rounded-full py-2 px-4 lg:py-4 lg:px-8 ring-2 ring-primary-pink items-center hover:scale-105 hover:duration-300"
                        >
                            <img
                                src="/images/place-icon.png"
                                alt=""
                                class="w-[50px] lg:w-[100px]"
                            />
                            <p
                                class="font-poppins font-semibold text-black text-[10px] lg:text-[24px]"
                            >Tempat</p>
                        </a>
                        <a
                            href=""
                            class="flex flex-col rounded-full py-2 px-4 lg:py-4 lg:px-8 ring-2 ring-primary-pink items-center hover:scale-105 hover:duration-300"
                        >
                            <img
                                src="/images/food-icon.png"
                                alt=""
                                class="w-[50px] lg:w-[100px]"
                            />
                            <p
                                class="font-poppins font-semibold text-black text-[10px] lg:text-[24px]"
                            >Menu</p>
                        </a>
                        <a
                            href=""
                            class="flex flex-col rounded-full py-2 px-4 lg:py-4 lg:px-8 ring-2 ring-primary-pink items-center hover:scale-105 hover:duration-300"
                        >
                            <img
                                src="/images/movie-icon.png"
                                alt=""
                                class="w-[50px] lg:w-[100px]"
                            />
                            <p
                                class="font-poppins font-semibold text-black text-[10px] lg:text-[24px]"
                            >Movie</p>
                        </a>
                    </div>
                </div>
            </section>

            <section id="place" class="w-full pt-16 pb-24 bg-kirani-pink">
                <div
                    class="w-full mx-auto max-w-[340px] lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1450px] flex flex-col"
                >
                    <p
                        class="font-poppins font-extrabold text-center text-[24px] text-kirani-black lg:text-[32px] xl:text-[40px] 2xl:text-[52px] mb-8"
                    >Tempat
                        <span class="text-primary-pink">Nongky</span>
                        Andalan</p>
                    <p
                        class="font-poppins font-medium text-black text-[12px] text-justify lg:text-[16px] 2xl:text-[18px] mb-8"
                    >Ini dia 3 spot paling sering kami duduki sambil sok
                        produktif Kadang nugas, kadang Netflix. Tempatnya kadang
                        yang emangan hitss atau yang cuman kita cukup tahu aja,
                        yang penting nyaman, bisa ngobrol lama dan bareng dengan
                        nya lama lama wkwk, dan yang terpenting Ada colokan,
                        WIFI dan Voucher promoo yang bisa dipakai berkali kali
                        xixi.
                        <a
                            href=""
                            class="font-bold text-primary-pink"
                        >Jalan-Jalan Terus Kuy~</a></p>
                    <div
                        class="grid grid-cols-1 lg:grid-cols-3 gap-5 xl:gap-8 2xl:max-w-6xl mx-auto"
                    >
                        <div class="flex flex-col">
                            <div class="relative w-full">
                                <img
                                    src="/images/place.png"
                                    alt=""
                                    class="w-full opacity-0 pointer-events-none select-none"
                                />
                                <img
                                    src="/images/place.png"
                                    alt=""
                                    class="w-full h-full rounded-t-[20px] absolute z-10 top-0 left-0"
                                />
                                <div
                                    class="absolute top-0 right-0 flex flex-row z-20 items-center gap-x-1 bg-white w-fit ms-auto p-2 rounded-tr-[20px] rounded-bl-[20px]"
                                >
                                    <img src="/images/star-icon.svg" alt="" />
                                    <p
                                        class="font-poppins font-medium text-[14px] text-[#1F1449]"
                                    >4.8</p>
                                </div>
                            </div>
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white p-4"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-2"
                                >Kopi Kenangan Jakal</p>
                                <p
                                    class="font-poppins font-light text-[12px] text-black text-center mb-2"
                                >Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Aenean com ......</p>
                                <a
                                    href=""
                                    class="flex items-center justify-center mx-auto px-6 py-2 bg-primary-pink rounded-[10px] font-poppins font-semibold text-[14px] text-white hover:scale-105 hover:duration-300"
                                >Detail</a>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <div class="relative w-full">
                                <img
                                    src="/images/place.png"
                                    alt=""
                                    class="w-full opacity-0 pointer-events-none select-none"
                                />
                                <img
                                    src="/images/place.png"
                                    alt=""
                                    class="w-full h-full rounded-t-[20px] absolute z-10 top-0 left-0"
                                />
                                <div
                                    class="absolute top-0 right-0 flex flex-row z-20 items-center gap-x-1 bg-white w-fit ms-auto p-2 rounded-tr-[20px] rounded-bl-[20px]"
                                >
                                    <img src="/images/star-icon.svg" alt="" />
                                    <p
                                        class="font-poppins font-medium text-[14px] text-[#1F1449]"
                                    >4.8</p>
                                </div>
                            </div>
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white p-4"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-2"
                                >Kopi Kenangan Jakal</p>
                                <p
                                    class="font-poppins font-light text-[12px] text-black text-center mb-2"
                                >Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Aenean com ......</p>
                                <a
                                    href=""
                                    class="flex items-center justify-center mx-auto px-6 py-2 bg-primary-pink rounded-[10px] font-poppins font-semibold text-[14px] text-white hover:scale-105 hover:duration-300"
                                >Detail</a>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <div class="relative w-full">
                                <img
                                    src="/images/place.png"
                                    alt=""
                                    class="w-full opacity-0 pointer-events-none select-none"
                                />
                                <img
                                    src="/images/place.png"
                                    alt=""
                                    class="w-full h-full rounded-t-[20px] absolute z-10 top-0 left-0"
                                />
                                <div
                                    class="absolute top-0 right-0 flex flex-row z-20 items-center gap-x-1 bg-white w-fit ms-auto p-2 rounded-tr-[20px] rounded-bl-[20px]"
                                >
                                    <img src="/images/star-icon.svg" alt="" />
                                    <p
                                        class="font-poppins font-medium text-[14px] text-[#1F1449]"
                                    >4.8</p>
                                </div>
                            </div>
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white p-4"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-2"
                                >Kopi Kenangan Jakal</p>
                                <p
                                    class="font-poppins font-light text-[12px] text-black text-center mb-2"
                                >Lorem ipsum dolor sit amet, consectetuer
                                    adipiscing elit. Aenean com ......</p>
                                <a
                                    href=""
                                    class="flex items-center justify-center mx-auto px-6 py-2 bg-primary-pink rounded-[10px] font-poppins font-semibold text-[14px] text-white hover:scale-105 hover:duration-300"
                                >Detail</a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="food" class="w-full pt-16 pb-24 bg-white">
                <div
                    class="w-full mx-auto max-w-[340px] lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1450px] flex flex-col"
                >
                    <p
                        class="font-poppins font-extrabold text-center text-[24px] text-kirani-black lg:text-[32px] xl:text-[40px] 2xl:text-[52px] mb-8"
                    >Makanan
                        <span class="text-primary-pink">Favorite</span>
                        Kita</p>
                    <p
                        class="font-poppins font-medium text-black text-[12px] text-justify lg:text-[16px] 2xl:text-[18px] mb-8"
                    >Laper dikit? Coba intip dulu 3 menu kenangan favorit
                        kita!Mulai dari yang bikin ketagihan sampe yang bikin
                        bilang “ini terakhir kali deh”. Ada rasa enak, ada juga
                        rasa nyesel. tapi semuanya pernah bikin perut kenyang
                        dan hati ikut senang.Soalnya buat kita, tiap makanan itu
                        bukan cuma soal rasa tapi juga soal momen yang dibagi
                        bareng.
                        <a href="" class="font-bold text-primary-pink">Klik buat
                            lanjut kulineran sambil nostalgia bareng kita! 🍜💞</a></p>
                    <div
                        class="grid grid-cols-1 lg:grid-cols-3 gap-5 xl:gap-8 2xl:max-w-6xl mx-auto"
                    >
                        <div class="flex flex-col">
                            <div class="relative w-full">
                                <img
                                    src="/images/food.png"
                                    alt=""
                                    class="w-full opacity-0 pointer-events-none select-none"
                                />
                                <img
                                    src="/images/food.png"
                                    alt=""
                                    class="w-full h-full rounded-t-[20px] absolute z-10 top-0 left-0"
                                />
                                <div
                                    class="absolute top-0 right-0 flex flex-row z-20 items-center gap-x-1 bg-white w-fit ms-auto p-2 rounded-tr-[20px] rounded-bl-[20px]"
                                >
                                    <img src="/images/star-icon.svg" alt="" />
                                    <p
                                        class="font-poppins font-medium text-[14px] text-[#1F1449]"
                                    >4.8</p>
                                </div>
                            </div>
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white py-4 px-6"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-4"
                                >Nasi Goreng Ikan Telur</p>
                                <div class="flex flex-row justify-between">
                                    <div class="flex flex-col gap-y-4">
                                        <div class="flex flex-row gap-x-3">
                                            <img
                                                src="/images/price-icon.svg"
                                                alt=""
                                            />
                                            <p
                                                class="font-poppins italic text-[14px] text-black"
                                            >Rp. 15.000,00</p>
                                        </div>
                                        <div class="flex flex-row gap-x-3">
                                            <img
                                                src="/images/location-icon.svg"
                                                alt=""
                                            />
                                            <p
                                                class="font-poppins italic text-[14px] text-[#929292]"
                                            >Pandean,Sewon</p>
                                        </div>
                                    </div>
                                    <a
                                        href=""
                                        class="flex items-center justify-center w-fit px-6 py-2 bg-primary-pink rounded-[10px] font-poppins font-semibold text-[14px] text-white hover:scale-105 hover:duration-300 mt-auto"
                                    >Detail</a>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <div class="relative w-full">
                                <img
                                    src="/images/food.png"
                                    alt=""
                                    class="w-full opacity-0 pointer-events-none select-none"
                                />
                                <img
                                    src="/images/food.png"
                                    alt=""
                                    class="w-full h-full rounded-t-[20px] absolute z-10 top-0 left-0"
                                />
                                <div
                                    class="absolute top-0 right-0 flex flex-row z-20 items-center gap-x-1 bg-white w-fit ms-auto p-2 rounded-tr-[20px] rounded-bl-[20px]"
                                >
                                    <img src="/images/star-icon.svg" alt="" />
                                    <p
                                        class="font-poppins font-medium text-[14px] text-[#1F1449]"
                                    >4.8</p>
                                </div>
                            </div>
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white py-4 px-6"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-4"
                                >Nasi Goreng Ikan Telur</p>
                                <div class="flex flex-row justify-between">
                                    <div class="flex flex-col gap-y-4">
                                        <div class="flex flex-row gap-x-3">
                                            <img
                                                src="/images/price-icon.svg"
                                                alt=""
                                            />
                                            <p
                                                class="font-poppins italic text-[14px] text-black"
                                            >Rp. 15.000,00</p>
                                        </div>
                                        <div class="flex flex-row gap-x-3">
                                            <img
                                                src="/images/location-icon.svg"
                                                alt=""
                                            />
                                            <p
                                                class="font-poppins italic text-[14px] text-[#929292]"
                                            >Pandean,Sewon</p>
                                        </div>
                                    </div>
                                    <a
                                        href=""
                                        class="flex items-center justify-center w-fit px-6 py-2 bg-primary-pink rounded-[10px] font-poppins font-semibold text-[14px] text-white hover:scale-105 hover:duration-300 mt-auto"
                                    >Detail</a>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <div class="relative w-full">
                                <img
                                    src="/images/food.png"
                                    alt=""
                                    class="w-full opacity-0 pointer-events-none select-none"
                                />
                                <img
                                    src="/images/food.png"
                                    alt=""
                                    class="w-full h-full rounded-t-[20px] absolute z-10 top-0 left-0"
                                />
                                <div
                                    class="absolute top-0 right-0 flex flex-row z-20 items-center gap-x-1 bg-white w-fit ms-auto p-2 rounded-tr-[20px] rounded-bl-[20px]"
                                >
                                    <img src="/images/star-icon.svg" alt="" />
                                    <p
                                        class="font-poppins font-medium text-[14px] text-[#1F1449]"
                                    >4.8</p>
                                </div>
                            </div>
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white py-4 px-6"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-4"
                                >Nasi Goreng Ikan Telur</p>
                                <div class="flex flex-row justify-between">
                                    <div class="flex flex-col gap-y-4">
                                        <div class="flex flex-row gap-x-3">
                                            <img
                                                src="/images/price-icon.svg"
                                                alt=""
                                            />
                                            <p
                                                class="font-poppins italic text-[14px] text-black"
                                            >Rp. 15.000,00</p>
                                        </div>
                                        <div class="flex flex-row gap-x-3">
                                            <img
                                                src="/images/location-icon.svg"
                                                alt=""
                                            />
                                            <p
                                                class="font-poppins italic text-[14px] text-[#929292]"
                                            >Pandean,Sewon</p>
                                        </div>
                                    </div>
                                    <a
                                        href=""
                                        class="flex items-center justify-center w-fit px-6 py-2 bg-primary-pink rounded-[10px] font-poppins font-semibold text-[14px] text-white hover:scale-105 hover:duration-300 mt-auto"
                                    >Detail</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <section id="movie" class="w-full relative">
                <img
                    src="/images/bg-movie-large.png"
                    alt=""
                    class="w-full h-[900px] hidden lg:block opacity-0 pointer-events-none select-none"
                />
                <img
                    src="/images/bg-movie-large.png"
                    alt=""
                    class="w-full h-[900px] hidden lg:block absolute z-10 top-0 left-0"
                />
                <img
                    src="/images/bg-movie-small.png"
                    alt=""
                    class="w-full h-[1855px] lg:hidden opacity-0 pointer-events-none select-none"
                />
                <img
                    src="/images/bg-movie-small.png"
                    alt=""
                    class="w-full h-[1855px] lg:hidden absolute z-10 top-0 left-0"
                />
                <div
                    class="absolute top-20 left-1/2 -translate-x-1/2 z-20 w-full mx-auto max-w-[340px] lg:max-w-4xl xl:max-w-6xl 2xl:max-w-[1450px] flex flex-col"
                >
                    <p
                        class="font-poppins font-extrabold text-center text-[24px] text-kirani-black lg:text-[32px] xl:text-[40px] 2xl:text-[52px] mb-8"
                    >Layar
                        <span class="text-primary-pink">Kita</span>
                        Berdua</p>
                    <p
                        class="font-poppins font-medium text-black text-[12px] text-justify lg:text-[16px] 2xl:text-[18px] mb-8"
                    >Setiap nonton bareng tuh selalu rame ada yang nyeritain
                        alur sebelum filmnya mulai, bisikin teori-teori
                        konspirasi pas lagi jalan, sampai gangguin di momen
                        paling sedih biar gagal nangis. Tapi justru hal-hal
                        kecil itu yang bikin tiap film terasa lebih seru, dan
                        tiap tontonan jadi kenangan manis yang susah dilupain.
                        <a href="" class="font-bold text-primary-pink">Yuks Liat
                            daftar Film yang udah kita buat!😚💗</a></p>
                    <div
                        class="grid grid-cols-1 lg:grid-cols-3 gap-5 xl:gap-8 2xl:max-w-6xl mx-auto"
                    >
                        <div class="flex flex-col">
                            <img
                                src="/images/movie.png"
                                alt=""
                                class="w-full rounded-t-[20px]"
                            />
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white py-4 px-6"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-3"
                                >Exhuma</p>
                                <div
                                    class="flex flex-row justify-between items-center mb-3"
                                >
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/genre-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >Horror,Misteri</p>
                                    </div>
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/origin-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >Korea</p>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-row justify-between items-center"
                                >
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/him-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >9.5/10</p>
                                    </div>
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/her-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >9.5/10</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <img
                                src="/images/movie.png"
                                alt=""
                                class="w-full rounded-t-[20px]"
                            />
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white py-4 px-6"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-3"
                                >Exhuma</p>
                                <div
                                    class="flex flex-row justify-between items-center mb-3"
                                >
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/genre-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >Horror,Misteri</p>
                                    </div>
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/origin-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >Korea</p>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-row justify-between items-center"
                                >
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/him-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >9.5/10</p>
                                    </div>
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/her-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >9.5/10</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex flex-col">
                            <img
                                src="/images/movie.png"
                                alt=""
                                class="w-full rounded-t-[20px]"
                            />
                            <div
                                class="flex flex-col rounded-b-[20px] border-b-2 border-x-2 border-primary-pink bg-white py-4 px-6"
                            >
                                <p
                                    class="font-poppins font-semibold text-black text-[16px] text-center mb-3"
                                >Exhuma</p>
                                <div
                                    class="flex flex-row justify-between items-center mb-3"
                                >
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/genre-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >Horror,Misteri</p>
                                    </div>
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/origin-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >Korea</p>
                                    </div>
                                </div>
                                <div
                                    class="flex flex-row justify-between items-center"
                                >
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/him-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >9.5/10</p>
                                    </div>
                                    <div
                                        class="flex flex-row gap-x-3 justify-between items-center"
                                    >
                                        <img
                                            src="/images/her-icon.svg"
                                            alt=""
                                        />
                                        <p
                                            class="font-poppins italic text-[14px] text-black"
                                        >9.5/10</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

    <script>
        const svgToggle = document.getElementById('dropdown-toggle');
        const dropdown = document.getElementById('nav-dropdown');

        svgToggle.addEventListener('click', () => {
            dropdown.classList.toggle('hidden');
            dropdown.classList.toggle('flex');
        });
    </script>
    </body>
</html>